@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
}

$baseFontFamily: -apple-system, BlinkMacSystemFont, 'OpenSans-Light', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$baseColor: #fff;

body {
  margin: 0;
  padding: 0;
  background-color: #0e1414;
  color: $baseColor;
  font-family: $baseFontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .modal-open {
    overflow: hidden;
  }

  main {
    max-width: 1250px;
    padding: 0 30px;
    margin: 185px auto 240px;

    .responsive-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      article {
        flex: 0 0 33.3%;

        @media (max-width: 1280px) {
          flex: 0 0 50%;
        }

        @media (max-width: 840px) {
          flex: 0 0 100%;
        }

        @media (max-width: 640px) {
          width: 80%;
          gap: 0;
        }
      }
    }

    .section-two {
      margin-top: 240px;

      header {
        font-size: 42px;
        font-weight: 100;
        color: $baseColor;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 50px;
      }

      img {
        border-bottom: 4px solid #f00;
      }

      .details {
        a, .title {
          font-size: 18px;
          font-weight: 800;
          color: $baseColor;
          letter-spacing: 0.5px;
        }

        .info {
          color: #aaa;
          line-height: 1.8;
        }

        a {
          font-size: 16px;
          text-decoration: none;
          padding-bottom: 8px;
          border-bottom: 1px solid #f00;
          transition: color 0.5s;

          &:hover {
            color: #f00;
          }
        }
      }

      @media (max-width: 1280px) {
        margin-top: 100px;
      }

      @media (max-width: 840px) {
        margin-top: 50px;
      }

      @media (max-width: 640px) {
        margin-top: 30px;

        header {
          font-size: 30px;
          margin-bottom: 30px;
        }
      }

      @media (max-width: 420px) {
        margin-top: 10px;

        header {
          font-size: 20px;
          margin-bottom: 15px;
        }
      }
    }

    .col-one-three {
      max-width: 384px;
      width: 100%;
      margin: 0 auto;

      .row-half:not(:first-child) {
        margin-top: 15px;
      }

      .header-answer {
        border-bottom: 1px solid $baseColor;

        p {
          font-size: 27px;
          font-weight: 100;
          color: #ddd;
          text-transform: uppercase;
          margin-bottom: 15px;
        }
      }

      .text-answer {
        padding: 30px 0;

        p {
          font-size: 18px;
          font-weight: 100;
          color: #ccc;
          line-height: 1.7;
          margin: 0;
        }
      }

      .text-mindful {
        p:first-child {
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
          animation: text-color-change 2s infinite;
        }

        p:last-child {
          font-size: 18px;
          font-weight: 800;
          color: $baseColor;
          line-height: 1.7;
          letter-spacing: 0.5px;
        }
      }

      .anchor-container {
        overflow: hidden;
      }

      .anchor {
        overflow: hidden;
        transition: transform 0.5s;

        &:hover {
          transform: scale(1.05);
          cursor: pointer;
        }
      }

      @media (max-width: 1280px) {
        max-width: 450px;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      @media (max-width: 1024px) {
        max-width: 350px;

        &:not(:last-child) {
          margin-bottom: 18px;
        }
      }

      @media (max-width: 840px) {
        max-width: 280px;

        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }

      @media (max-width: 640px) {
        max-width: 500px;

        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }

      @media (max-width: 420px) {
        &:not(:last-child) {
          margin-bottom: 10px;
        }

        .header-answer {
          p {
            font-size: 20px;
          }
        }
      }

      @media (max-width: 330px) {
        .header-answer {
          p {
            font-size: 18px;
          }
        }

        .text-answer {
          p {
            font-size: 14px;
          }
        }
      }
    }

    .thumbnail-container, .thumbnail {
      overflow: hidden;
    }

    .thumbnail {
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }

      @media (max-width: 1280px) {
        img {
          width: 100%;
        }
      }
    }

    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.8);
    }

    .modal-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .modal-image {
        max-width: 500px;
        height: auto;
        border: 1px solid $baseColor;
      }
    }

    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      cursor: pointer;
    }

    @media (max-width: 1280px) {
      margin: 100px auto 130px;
    }

    @media (max-width: 640px) {
      margin: 70px auto 100px;
    }

    @media (max-width: 420px) {
      margin: 40px auto 70px;
    }

    @media (max-width: 330px) {
      margin: 20px auto 50px;
    }
  }
}

@keyframes text-color-change {
  0% { color: red; }
  33% { color: rgb(255, 0, 0); }
  66% { color: rgb(255, 255, 255); }
  100% { color: rgb(253, 253, 253); }
}
  
